@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  background-image: url(../assets/images/wall.jpg);
  margin:0;
  padding: 0;
  text-align: center;
  background-size: cover;
}

.form-title{
  
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.form-title h1{
  font-size: 32px;
  line-height: 10px;
}

form{
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 30%;
}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

input{
  height: 45px;
}

form .submit{
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit: hover{
  cursor: pointer;
}

.bookshelf-book {
  list-style-type:none;
  float:left;
  margin:10px;  
  
  height:300px;
  -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
  -moz-box-shadow:    0px 0px 12px rgba(0,0,0,0.5);
  box-shadow:         0px 0px 12px rgba(0,0,0,0.5);
  position:relative;
  overflow:hidden;
  -webkit-animation: trans 2s;
  animation: trans 2s;
}
.bookshelf-book img {
  height:100%;
}

/*Bookshelf Bookelement ribbon*/
.ribbon-new {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
.ribbon-new > div {
  font: bold 15px sans-serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  left: -30px;
  top: 15px;
  width: 120px;
  background-color: #66BA59;
  background: #c9de96;
  background: -webkit-linear-gradient(top,  #c9de96 0%,#66ba59 100%);
  background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(100%,#66ba59));
  background:    -moz-linear-gradient(top,  #c9de96 0%, #66ba59 100%);
  background:      -o-linear-gradient(top,  #c9de96 0%,#66ba59 100%);
  background:     -ms-linear-gradient(top,  #c9de96 0%,#66ba59 100%);
  background:         linear-gradient(to bottom,  #c9de96 0%,#66ba59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#66ba59',GradientType=0 );
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

/*Bookshelf Bookelement caption*/
.bookshelf-caption {
  background-color:#000;
  color:#fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position:absolute;
  height:300px;
  padding:10px;
}
.bottom-to-top {
  top:100%;
 }
.bookshelf-book:hover .bottom-to-top {
  top:0%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5 ease;  
}

/*Animation*/
@-webkit-keyframes trans {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes trans {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Navigation Bar*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
}
 
body, html { height: 100%; overflow: hidden;}
ul, ol { list-style: none; }
 
header {
  width: 100vw;
  height: 20vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear .5s infinite;
}
 
header nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
 
header nav .logo { 
  color: #fff; 
  font-size: 30px; 
  padding: 20px 20px 10px 20px;
   
}
 
header nav .logo a { 
    color: #fff; 
}
 
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
 
header nav li a {
  color: #fff;
  display: block;
  position: relative;
  padding: 20px 20px 10px;
  font-size: 15px;
   
}
 
header nav li a:before, header nav li a:after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;  
}
 
header nav li a:before { right: 50%; }
header nav li a:after { left: 50%; }
 
header nav li a:hover:before , header nav li a:hover:after {
  width: 50%;
}
 
@keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}
 
@-webkit-keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}
 
@media only screen and (max-width: 290px) {
  header nav ul { 
    width: 100%; 
    text-align: center;
    flex-direction: column; 
  }
}

