@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #3c0000;
  outline: 1px solid slategrey;
}

.bookshelf-book {
  list-style-type: none;
  float: left;
  margin: 6px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  -webkit-animation: trans 2s;
  animation: trans 2s;
}
.bookshelf-book img {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #3c0000;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.bookshelf-book:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/*========================Navigation Bar ======================*/

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #3c0000;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  border: 0;
  outline: none;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 19px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: #3c0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/*================================================ Form Styling =====================================================*/

.form-title {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.form-title h1 {
  font-size: 32px;
  line-height: 50px;
}

form {
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 30%;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
}

input {
  height: 45px;
}

form .submit {
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form.submit: hover {
  cursor: pointer;
}

